 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Untitled-13.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 824px;
}

.u-section-1 .u-text-1 {
  margin: 215px 269px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 130px 570px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 60px 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  vertical-align: -1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 552px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 59px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 434px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 434px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1196px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 503px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/pexels-anand-kulkarni-469174-22855935.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("images/smiley-man-relaxing-outdoors.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-3 .u-social-icons-2 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 538px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("images/female-model-demonstrating-silber-bracelet.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-3 .u-social-icons-3 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 568px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-image-4 {
  height: 257px;
  object-position: 50% 37.76%;
  width: 257px;
  background-image: url("images/pexels-casnafu-20270871.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-3 .u-social-icons-4 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 568px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-image-5 {
  object-position: 50% 100%;
  height: 257px;
  width: 257px;
  background-image: url("images/pexels-anastasia-tooming-175406056-11129005.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-10 {
  margin: 20px auto 0;
}

.u-section-3 .u-social-icons-5 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px 149px 0;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 568px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  margin: 77px 0 0;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 444px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 468px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 468px;
  }

  .u-section-3 .u-social-icons-5 {
    margin-left: 115px;
    margin-right: 115px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 468px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-3 .u-image-1 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-3 .u-image-2 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 448px;
  }

  .u-section-3 .u-image-3 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 522px;
  }

  .u-section-3 .u-image-4 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 522px;
  }

  .u-section-3 .u-image-5 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-social-icons-5 {
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 522px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2771px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 61px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-social-icons-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 606px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 59px 0 -3px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 487px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 487px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: url("images/Untitled-61.jpg");
  background-position: 50% 0%;
}

.u-section-5 .u-sheet-1 {
  min-height: 723px;
}

.u-section-5 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 29px auto 60px 0;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 343px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 697px;
}

.u-section-6 .u-text-1 {
  margin: 60px 471px 0 124px;
}

.u-section-6 .u-gallery-1 {
  height: 375px;
  margin: 40px 0 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 20px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 168px;
  background-image: none;
  padding: 8px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-6 .u-text-2 {
  margin: 40px calc(((100% - 1140px) / 2)  + 551px) 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 71px;
    margin-right: calc(((100% - 940px) / 2)  + 323px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 351px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 103px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 131px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 684px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 707px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 70px;
  }
}