 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/Untitled-1copy.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 162px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 150px 643px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  width: 145px;
  min-width: 108px;
  margin: 29px auto 60px 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 443px;
  }

  .u-section-1 .u-social-icons-1 {
    min-height: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 141px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 100px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 723px;
}

.u-section-2 .u-text-1 {
  margin: 83px 471px 0 124px;
}

.u-section-2 .u-gallery-1 {
  height: 375px;
  margin: 40px 0 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  --gap: 0px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 20px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 168px;
  background-image: none;
  padding: 8px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-2 .u-text-2 {
  margin: 40px calc(((100% - 1140px) / 2)  + 218px) 0 calc(((100% - 1140px) / 2)  + 537px);
}

.u-section-2 .u-text-3 {
  margin: -26px calc(((100% - 1140px) / 2)  + 865px) 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 71px;
    margin-right: calc(((100% - 940px) / 2)  + 323px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 41px;
    margin-right: calc(((100% - 940px) / 2)  + 118px);
    margin-left: calc(((100% - 940px) / 2)  + 437px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -27px;
    margin-right: calc(((100% - 940px) / 2)  + 665px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 103px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + 8px);
    margin-left: calc(((100% - 720px) / 2)  + 327px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 445px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-top: 88px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 155px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -71px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-top: 111px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-top: -94px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 624px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 59px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 506px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 506px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 40px 612px 0 0;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  vertical-align: -1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 132px;
  }
} .u-section-4 {
  background-image: url("images/Untitled-12.jpg");
  background-position: 50% 50%;
  min-height: 791px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 39px calc(((100% - 1140px) / 2)  + 966px) 60px calc(((100% - 1140px) / 2)  + -16px);
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 652px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 499px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 374px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 121px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 235px;
  }

  .u-section-4 .u-text-1 {
    line-height: 1.2;
    width: 340px;
    font-size: 1.875rem;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 606px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 59px 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 467px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 467px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  height: 391px;
  width: 795px;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5 .u-form-1 {
    width: 645px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-5 .u-form-1 {
    width: 320px;
  }
}